<div class="mb-1">
  Enter some text here
</div>
<div>
  <input
    type="text"
    class="form-control"
    id="userText"
    [(ngModel)]="userText"
  />
  <button class="btn btn-primary mt-2" (click)="dispatchUserText()">
    Update Store
  </button>
</div>
