<div class="container mt-3">
  <div class="row">
    <div class="col text-center">
      <h5>NgRx Demo</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="m-1 small font-italic">Component Foo</div>
      <div class="bg-light border border-gray p-3 m-1">
        <app-foo></app-foo>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="m-1 small font-italic">Component Bar</div>
      <div class="bg-light border border-gray p-3 m-1">
        <app-bar></app-bar>
      </div>
    </div>
  </div>
</div>
